*{
    box-sizing: border-box;
    
}

body{
    background-image: url("images/home-graphicno%20scroll.png");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}


/*by9
.col-1 {width: 11.11%;}
.col-2 {width: 22.22%;}
.col-3 {width: 33.33%;}
.col-4 {width: 44.44%;}
.col-5 {width: 55.55%;}
.col-6 {width: 66.66%;}
.col-7 {width: 77.77%;}
.col-8 {width: 88.88%;}
.col-9 {width: 100%;}
*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*landing */
.topnav{
   position: relative;
    overflow: hidden;
    
}

.topnav a{
    float: left;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 14pt;
    font-family: "Futura";
    color: #fff;
}

.topnav2 a{
    float: left;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 14pt;
    font-family: "Futura";
    color: #1d1d1d;
}
.topnav-left{
    /*margin-left: 30%;*/
}
.topnav-right a,
.topnav-left a{
    
}

.topnav-centered a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}
.topnav-right{
    float: right;
    /*margin-right: 28%; */
}

.main-nav li{
    display: inline-block;
    padding: 2.5%;
    font-size: 18pt;
    font-family: "Futura";
    text-align: center;
  
}

.main-nav a{
    text-decoration: none;
}

.topnav-left a:hover,
.topnav-right a:hover{
    border-bottom: 4px solid #ffc8c8;
    color:#ffc8c8;
    padding-bottom: 2px;
    
}

#navbar {
  
  position: fixed;
  top: -500%;
  width: 100%;
  display: block;
  transition: top 0.3s;
    z-index: 10000;
}
.topnav-scroll{
    
}

/* intro */

.row{
    display: inline;
}
.intro{
    margin-top: 5%;
    text-align: center;
    
  
}
h2.greet{
    font-family: "Futura";
    color: #fff;
    font-size: calc(12px + .7vw);
    letter-spacing: 1.5px;
    
}
h1.greet{
    font-family: "Futura";
    color: #FFF;
    letter-spacing: 3px;
    font-size: calc(12px + 3.5vw);
    margin-top: -.5%;
    margin-bottom: -.2%;
    line-height: 115%;
    font-weight: 600;
    
    
}
h3.greet{
    font-family: "Futura";
    color:#ffc8c8;
    font-size: calc(12px + .8vw);
    font-weight: 600;
}
p.greet{
   font-family: "Futura"; 
    color: #FFF;
    font-size: calc(10px + .8vw);
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 180%;
    margin-left: 22%;
    
    margin-bottom: 25%;
}


.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}
.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top:9%;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
    0%{opacity: 1;}
    
    100%{
        opacity: 0;
    transform: translateY(46px);}
    
}


/*WORK*/
.work h1{
    margin-top: 16%;
    text-align: center;
    font-family: "Futura";
    color:#E4A2A2;
    font-size: calc(12px + 1.5vw);
    padding-top: 5%;
}

.container-work{
    overflow: hidden;
    position: relative;
    width: 100%;
}

ul.work1{
    width: 75%;
}
.work1{
    
   margin-left: 12.5%;
    margin-right: 5%;
    padding: 0px;
    margin-top: 3%;
    
}
.work1 li{
    display: inline-block;
    margin: 15px;
    text-align: center;
    
}
.w-img{
    width: 100%;
   
    display: block;
    object-fit: cover;
    text-align: center;
    border-radius: 20px;
}
.container-work:hover .overlay-w {
  opacity: .95;
}
.overlay-w {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #c48787;
    border-radius: 20px;

   
}
.text-work {
  color: #FFF;
    font-family: "Futura";
  font-size: calc(12px + 3vw);
  position: absolute;
    font-weight:500;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
 
}

/*ABOUT*/
.about h1{
    margin-top: 16%;
    text-align: center;
    font-family: "Futura";
    color:#FFF;
    font-size: calc(12px + 1.5vw);
    padding: 3%;
    padding-top: 6%;
}

.skills h2{
    margin-top: 8%;
    text-align: center;
    font-family: "Futura";
    color: #1d1d1d;
    font-size: calc(12px + .8vw);
    
}

.skills p{
    text-align: center;
    font-family: "Futura";
    font-weight: 400;
    float: none;
    margin-left: 18%;
    font-size: calc(12px + .7vw);
    line-height: 160%;
    word-spacing: 1%;
    color: #1d1d1d;
    width: 65%;
}
.about{
    background-color: #E4A2A2;
    height: 2300px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.about-pic{
    
    
    width: 50%;
    margin-left: 25%;
    margin-top: -2%;
    position: relative;
}
.about-desc{
    text-align: center;
    font-family: "Futura";
    font-weight: 400;
    float: none;
    margin-left: 25%;
    font-size: calc(12px + .6vw);
    line-height: 160%;
    word-spacing: 1%;
    color: #1d1d1d; 
    width: 50%;
    margin-top: -1%;
}

.bio-link{
    
    color: #1d1d1d;;
    font-weight: 400;
}
.alive-gif{
    
    width: 30%;
    margin-left: 35%;
}

.button {
  border: 3px solid #FFF;
  color: #FFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;

  display: inline-block;
    border-radius: 40px;
  font-size:  calc(12px + .6vw);
  margin: 4px 2px;
  cursor: pointer;
    background-color: #a76969;
    font-family: "Futura";
    font-weight: 400;
    letter-spacing: 3px;
    width: 28%;
    height: auto;
    margin-top: 5%;
    margin-left: 36%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    
    
    
}

.button:hover {
  background-color: #643939;
  color: white;
}

[class*="col-"] {
  float: left;
    padding: -100px;
  
  
}
/*CONTACT*/

.contact h1{
    margin-top: 10%;
    text-align: center;
    font-family: "Futura";
    color:#E4A2A2;
    font-size: calc(12px + 1.5vw);
}
.contact-icons li{
    
    display: inline-block;
    padding: 2%;

}
.contact-icons li{
  

  width: 50%;
}


.contact img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.contact-icons img{
    width: 25%;
    padding: 2%;
}

.contact-icons ul{
   margin-left: 29.4%;
    margin-top: 2%;
}

/*CASE STUDIES*/

h1.port-content1{
    margin-top: 40%;
    text-align: center;
    font-family: "Futura";
    color:#E4A2A2;
    font-size: calc(12px + 1.5vw);
    
}
h1.port-content {
    margin-top: 10%;
    text-align: center;
    font-family: "Futura";
    color:#E4A2A2;
    font-size: calc(12px + 1.5vw);
    
}
h2.port-content {
    margin-top: 6%;
    text-align: center;
    font-family: "Futura";
    color:#4b4b4b;
    font-size: calc(12px + .7vw);
    
}
.case-img-screen1{
    width: 20%;
    margin-left: 40%;
    display: inline-block;
}
.case-img-screen2{
    width: 25%;
    padding: 2%;
    
    display: inline-block;
}
.case-img-display{
    width: 60%; 
    margin-left: 20%; 
    
}
.case-img-display-full{
    width: 85%; 
    margin-left: 7.5%; 
    border: 1px solid #d3d3d3; 
    
}
.demo{
    margin-left: 12.5%;
}

.case-desc{
    text-align: center;
    font-family: "Futura";
    font-weight: 400;
    float: none;
    margin-left: 25%;
    font-size: calc(12px + .6vw);
    line-height: 175%;
    word-spacing: 1%;
    color: #4b4b4b; 
    width: 50%;
    margin-top: 2%;
}

.button-google {
  border: 4px solid #efaaaa;
  color: #FFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;

  display: inline-block;
    border-radius: 40px;
  font-size:  calc(12px + .6vw);
  margin: 4px 2px;
  cursor: pointer;
    background-color: #a76969;
    font-family: "Futura";
    font-weight: 400;
    letter-spacing: 3px;
    width: 28%;
    height: auto;
    margin-top: 5%;
    margin-left: 36%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    
    
    
}

.button-google:hover {
  background-color: #643939;
  color: white;
}

/* Responsive navigation menu (for small/medium devices) */
@media screen and (max-width: 1200px) {
    body{
    background-size: 120%;
    } 
    .landing-me img{
    
    margin-top: -30%;
}
        .work{
    margin-top: 30%;
}
    .icon-scroll{

  margin-top:7%;
 
}
}

@media screen and (max-width: 800px) {
    body{
    background-size: 150%;
    } 
    .work{
    margin-top: 30%;
}
 
   
    .about-pic{/* 
    float:left;
    
    width: 50%;
    margin-left: 18%; 
        min-width: 400px;*/
} 
    
        .landing-me img{
    
    margin-top: -36%;
            width: 50%;
}
        .about{
        height: 2000px;
    }
    
    .port-content h1{
    margin-top: 40%;
    text-align: center;
    font-family: "Futura";
    color:#E4A2A2;
    font-size: calc(12px + 1.5vw);
    
}
        .icon-scroll{

  margin-top:0%;
 
}

}
@media screen and (max-width: 860px) {
           .icon-scroll{

  margin-top:0%;
 
}
}


@media screen and (max-width: 960px) {
        .icon-scroll{
  width: 24px;
  height: 42px;
  margin-left: -14px;
  top: 50%;
  margin-top:9%;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
    @keyframes scroll{
    0%{opacity: 1;}
    
    100%{
        opacity: 0;
    transform: translateY(26px);}
    
}
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    body{
    background-size: 200%;
    } 
    
  .topnav a, .topnav-right{
    float: none;
    display: block;
      padding: 14px 16px;
  }
    
    .topnav2{
        display: none;
    }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
    
    .about-pic{/*
    float:left;
    
    width: 50%;
    margin-left: 10%; 
    min-width: 400px;*/
}
.intro{
    margin-top: 50%;

}
    .intro-proj{
    margin-top: 30%;
       

}
    .about{
        height: 2000px;
    }
h2.greet{
    color: #4b4b4b;
    
}
h1.greet{
   
    color: #4b4b4b;  
}
    
    h2.greet-proj{
    color: #fff;
    
}
h1.greet-proj{
   
    color: #fff;  
}
    h3.greet{
 color:#E4A2A2;
}

p.greet{
    color: #4b4b4b;
}



h1.port-content1{
    margin-top: 50%;
}
    
.icon-scroll{
display: none;
}
.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
    @keyframes scroll{
    0%{opacity: 1;}
    
    100%{
        opacity: 0;
    transform: translateY(26px);}
    
}
}